<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ image }}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <!-- <p class="card-text"><small class="text-muted">{{ yea }}</small></p>
        <p class="card-text">{{ cnf }} %</p> -->
      </div>
    </div>
  </div>
</div>
