<div class="card" style="width:100%">
  <img class="card-img-top" src="data:image/jpeg;base64,{{image}}" style="width:100%">
  <div class="card-body">
    <h2 class="card-title">{{ title }}</h2>
    <p class="card-text"><small class="text-muted">{{ url }}</small></p>
    <!-- <p class="card-text">{{ result }}</p> -->
  </div>
</div>
