{% for title, url, sim in recoms %}
<div class="card" style="width:100%">
  <div class="card-body todays-news" style="cursor: pointer">
    <h5 class="card-text">{{ title }}</h5>
    <p class="card-text"><small class="text-muted">{{ url }}</small></p>
    <p class="card-text">{{ sim }}  %</p>
  </div>
</div>
{% endfor %}
